h1 {
    color: red;
}

@media screen and (max-width: 500px) {
    h1 {
        color: blue;
    }
}

p {
    color: green;
}

@media screen and (min-width: 800px) {
    p {
        color: blueviolet;
        background-color: gray;
    }
}